attrs==26.1.0
certifi==2026.6.17
cffi==2.1.0
charset-normalizer==3.4.9
cryptography==49.0.0
databricks-connect==17.3.11
databricks-sdk==0.120.0
fastjsonschema==2.21.2
google-auth==2.55.2
googleapis-common-protos==1.75.0
grpcio==1.82.1
grpcio-status==1.81.1
idna==3.18
ipykernel==7.3.0
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
jupyter_core==5.9.1
nbformat==5.10.4
numpy==2.5.1
packaging==26.2
pandas==2.3.3
platformdirs==4.10.0
protobuf==6.33.6
py4j==0.10.9.9
pyarrow==24.0.0
pyasn1==0.6.4
pyasn1_modules==0.4.2
pycparser==3.0
python-dateutil==2.9.0.post0
pytz==2026.2
referencing==0.37.0
requests==2.34.2
rpds-py==2026.6.3
setuptools==83.0.0
six==1.17.0
traitlets==5.15.1
typing_extensions==4.16.0
tzdata==2026.3
urllib3==2.7.0
zstandard==0.25.0
